.mood-indicator {
    width: 416px;
    height: 128px;
    background: white;
    border: 1px solid #e6e6e6;
    border-radius: 16px;
    display: flex;
    flex-direction: row-reverse;
    gap: 32px;
    justify-content: center;
    align-items: center;
    margin: 16px 0;
    .img {
        width: 40px;
        height: 40px;
        border-radius: 100%;
    }
    .img:hover {
        background-color: $bg-body;
        transition: 1s;
    }
    .img-active {
        background-color: $header-date;
    }
    .img-active:hover {
        background-color: $header-date;
    }
}