html {
  font-size: $font-size;
  font-family: $font-family;
  background: $background-color;
  color: $font-color;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

body {
  text-align: center;
  max-width: $page-width;
  padding: 48px;
  background-color: $bg-body;
  border: 1px solid #ff6fff;
  border-radius: 12px;
}


